version: '3'

services:

  backend:
    build: ./backend
    container_name: emotion_backend
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    container_name: emotion_frontend
    ports:
      - "8501:8501"
    depends_on:
      - backend